@import 'variables.scss';
@import 'price-tables.scss';

html {
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
}

.price-tables {
  padding: 115px 0;
  height: 1000px;
  background: $color-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
