$font-family: 'Montserrat', sans-serif;

$color-dark: #141b1c;
$color-grey: #334247;
$color-grey-dark: #382a2d80;
$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;
$color-red: #dc3f45;

$text-color-white: #ffffff;
